{{#if addNewPost}}
  <form>
    <label for="title">Title</label>
    {{input value=title id="title"}}
    <label for="body">Post</label>
    {{input value=body id="body"}}
    <button {{action 'save1'}}>Save</button>
  </form>
{{else}}
  <div class="newPostIcon">
    <i class="fa fa-file-text" aria-hidden="true" {{action 'postFormShow'}}></i><br>
  </div>
{{/if}}
