{{#if addNewTask}}
  <form>
    <label for="description">Task</label>
    {{input value=description id="description"}}
    <label for="category">Category</label>
    {{input value=category id="category"}}
    <label for="complete" class="checkbox-inline">Done?</label>
    {{input type="checkbox" checked=complete id="complete"}}<br>
    <button {{action 'save1'}}>Save</button>
  </form>
{{else}}
    <button {{action 'taskFormShow'}}>New Task</button>
{{/if}}
