{{#if updateTaskForm}}
  <form>
    <div class="row">
      <label class="twelve columns" for="description">Task</label>
      {{input class="twelve columns" value=description id="description" placeholder=task.description}}
    </div>
    <div class="row">
      <label class="twelve columns" for="category">Category</label>
      {{input class="twelve columns" value=category id="category" placeholder=task.category}}
    </div>

    <button {{action 'update' task}}>Save</button>
  </form>
{{else}}
  <button {{action 'updateTaskForm'}}>Update Task</button>
  <button {{action 'delete' task}}>Delete Task</button>
{{/if}}
