{{#if addNewTask}}
  <form class="newTaskForm">

    <div class="row">
      <span class="one columns">&nbsp;</span>
      <label class="ten columns" for="description">Task</label>
      <span class="one columns">&nbsp;</span>
    </div>

    <div class="row">
      <span class="one columns">&nbsp;</span>
      {{input class="ten columns" value=description id="description"}}
      <span class="one columns">&nbsp;</span>
    </div>

    <div class="row">
      <span class="one columns">&nbsp;</span>
      <label class="ten columns" for="category">Category</label>
      <span class="one columns">&nbsp;</span>
    </div>

    <div class="row">
      <span class="one columns">&nbsp;</span>
      {{input class="ten columns" value=category id="category"}}
      <span class="one columns">&nbsp;</span>
    </div>

    {{input type="hidden" value=false id="complete"}}<br>
    <span class="one columns">&nbsp;</span>
    <button {{action 'save1'}}>Save</button>

  </form>
{{else}}
  <div class="row">
    <span class="nine columns">&nbsp;</span>
    <button {{action 'taskFormShow'}} class="newButton two columns">New</button>
  </div>
{{/if}}
