{{#if updateTaskForm}}

  <form>
    <div class="row">
      <label class="twelve columns" for="description">Task</label>
      {{input class="twelve columns" value=description id="description" placeholder=task.description}}
    </div>
    <div class="row">
      <label class="twelve columns" for="category">Category</label>
      {{input class="twelve columns" value=category id="category" placeholder=task.category}}
    </div>

    <button {{action 'update' task}}>Save</button>
  </form>
{{else}}
  <span class="taskIcons">
    <i class="fa fa-pencil" aria-hidden="true" {{action 'updateTaskForm'}}></i>
    <i class="fa fa-ban" aria-hidden="true" {{action 'delete' task}}></i>
  </span>

{{/if}}
